/* Custom color for active tab */
.nav-tabs-custom .nav-tabs li.active,
.nav-tabs li.active a,
.nav-tabs li.active a:focus {
  border-top-color: var(--main-tpl-red);
  font-weight: bold;
}

/* Styling for selected tabs */
.nav-tabs-custom .nav-tabs li a:hover,
.nav-tabs li a:hover {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--main-fonts);
  border-left-color: var(--white);
}

/* Styling for unselected tabs in tab boxes*/
.nav-tabs-custom .nav-tabs li a,
.nav-tabs li a {
  background-color: var(--white);
  color: var(--grey-60-darker);
  font-family: var(--main-fonts);
}

/* Added padding to tab and info boxes so they don't touch navigation pane */
.nav-tabs-custom,
.info-box {
  margin-left: 15px;
}

.nav-tabs {
  font-family: var(--main-fonts);
}
