.timestamp_container {
  position: relative;
  display: block;
  background-color: var(--white);
}

.timestamp {
  max-width: 25%;
  border: 1px solid #bf0a30;
  font-weight: 600;
  border-radius: 0%;
  text-align: center;
  padding-top: 6px;
  margin-left: auto;
  right: 100%;
  line-height: 1.2em;
  }